<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>
    {% load static %}
    <link rel="stylesheet" href="{%static "css/cprofile.css" %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <main>
        
        <div class="Mainheader col-lg-10" style="width: 82%;">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">Create your Organisation Profile</h1>
                <p class="lead">
                    Everything you need to make great hires. Post jobs, reachout and examine your applicants...
                </p>
            </div>
        </div>

        <div class="orgprofile col-lg-8 col-md-8 col-sm-12">
            <form id="Organisation-profile" method="POST" action="/coprofile">
                {% csrf_token %}
                <input type="number" value="{{ cid }}"  hidden name="cid">
                <h2>Organisation Details</h2>
                <label for="company-name">Company's Name:</label>
                <input type="text" id="name" name="name" required><br>

                <label for="website">Company's Website:</label>
                <input type="url" id="website" name="website" value="https://"><br>

                <label for="jobposter-name">Location</label>
                <input type="text" id="job-title" name="locations" required><br>
                
                
                <br>
                <h3>Jobposter's Details</h3>
                <label for="jobposter-name">Your Name</label>
                <input type="text" id="job-title" name="jpname" required><br>

                <label for="jobposter-designation">Your Designation</label>
                <input type="text" id="job-title" name="jpdes" required><br>

                <label for="jobposter-email">Your Email</label>
                <input type="email" id="email" name="email" required><br>

                <label for="jobposter-phone">Phone no</label>
                <input type="tel" id="phone" name="phone" required><br>

                <h3>Description</h3>
                <label for="personal-description">About:</label>
                <textarea id="company-description" name="cdes" rows="4" cols="50"
                    required></textarea><br>

                <button type="submit" id="submit-button">Save and Submit</button>

                <br><br><br>
            </form>
        </div>
    </main>
</body>

</html>