<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resume-Templete</title>

</head>
<body>
    <header>
        <h1 id="name">Your Name</h1>
        <p id="job-title">Web Developer</p>
    </header>

    <section>
        <h2>Contact Information</h2>
        <form id="contact-form">
            <label for="name-input">Name:</label>
            <input type="text" id="name-input" name="name">
            <br>

            <label for="job-title-input">Job Title:</label>
            <input type="text" id="job-title-input" name="job-title">
            <br>

            <label for="mailinput">Email:</label>
            <input type="text" id="mail-input" name="mail">
            <br>

            <label for="phone-input">Phone:</label>
            <input type="text" id="phone-input" name="phone">
            <br>

            <label for="website-input">Website:</label>
            <input type="text" id="website-input" name="website">
            <br>

            <label for="linkedin-input">LinkedIn:</label>
            <input type="text" id="linkedin-input" name="linkedin">
        </form>
    </section>

    <section>
        <h2>Summary</h2>
        <form id="summary-form">
            <textarea id="summary-input" name="summary" rows="4" cols="50"></textarea>
        </form>
    </section>

    <section>
        <h2>Education</h2>
        <form id="education-form">
            <label for="degree-input">Degree:</label>
            <input type="text" id="degree-input" name="degree">
            <br>

            <label for ="school-input">School:</label>
            <input type="text" id ="school-input" name ="school">
            <br>

            <label for="education-year-input">Year:</label>
            <input type="text" id="education-year-input" name="education-year">
        </form>
    </section>

    <section>
        <h2>Experience</h2>
        <form id="experience-form">
            <label for="job-title-input">Job Title:</label>
            <input type="text" id="job-title-input" name="job-title">
            <br>

            <label for="company-input">Company:</label>
            <input type="text" id="company-input" name="company">
            <br>

            <label for="location-input">Location:</label>
            <input type="text" id="location-input" name="location">
            <br>

            <label for="experience-dates-input">Dates:</label>
            <input type="text" id="experience-dates-input" name="experience-dates">
            <br>

            <label for="description-input">Description:</label>
            <textarea id="description-input" name="description" rows="4" cols="50"></textarea>
        </form>
    </section>
    
    <input type="button" value="Submit" id="submit-button">
    <input type="button" value="Print Resume" id="print-button">

    <script src="{%static "js/resume.js" %}"></script>
    
</body>
</html>
